<ul>
	<li *ngFor="let ville of listeVilles">{{ ville.nom }}</li>
</ul>

<form *ngIf="!isLoggedIn" (ngSubmit)="showTrajets()" #loginForm="ngForm">
	
	<div class="form-group">
		<label for="départ"> Départ </label>
		<input type="text" class="form-control" id="depart" required placeholder="départ" [(ngModel)]="depart" name="départ" />
	</div>
	<div class="form-group">
		<label for="arrivé"> Arrivé </label>
		<input type="text" class="form-control" id="arrive" required placeholder="arrivé" [(ngModel)]="arrive" name="arrivé" />
	</div>
	<button class="form-control" type="submit"> Chercher les trajets </button>
</form>

<div>{{trajets | json}}</div>